<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start" class="ion-hide-lg-up">
      <ion-button (click)="gotoHome()">
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start" class="ion-hide-lg-down">
      <ion-button (click)="gotoHome()">
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">My library</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My library</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab horizontal="center" vertical="bottom" slot="fixed" class="ion-hide-lg-up">
    <ion-fab-button (click)="showNewBookForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" class="ion-hide-lg-down">
    <ion-fab-button (click)="showNewBookForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let book of books; let i = index">
        <ion-card>
          <ion-card-header>
            <!-- Título editable -->
            <ion-card-title *ngIf="!book.isEditing">{{ book.title }}</ion-card-title>
            <ion-input *ngIf="book.isEditing" [(ngModel)]="book.title"></ion-input>
          </ion-card-header>
          <ion-card-content>
            <!-- Autor editable -->
            <ion-item>
              <ion-text class="ion-margin-end">Author:</ion-text>
              <ion-text *ngIf="!book.isEditing">{{ book.author }}</ion-text>
              <ion-input *ngIf="book.isEditing" [(ngModel)]="book.author"></ion-input>
            </ion-item>
  
            <!-- Género editable con dropdown -->
            <ion-item>
              <ion-text class="ion-margin-end">Genre:</ion-text>
              <ion-text *ngIf="!book.isEditing">{{ book.genre }}</ion-text>
              <ion-select *ngIf="book.isEditing" [(ngModel)]="book.genre">
                <ion-select-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</ion-select-option>
              </ion-select>
            </ion-item>
  
            <!-- Número de páginas editable -->
            <ion-item>
              <ion-text class="ion-margin-end">Pages:</ion-text>
              <ion-text *ngIf="!book.isEditing">{{ book.numPages }}</ion-text>
              <ion-input *ngIf="book.isEditing" type="number" [(ngModel)]="book.numPages"></ion-input>
            </ion-item>
            
            <!-- Fecha de inicio, se completa automático con el día en que se añade -->
            <ion-item>
              <ion-text class="ion-margin-end">Started reading:</ion-text> 
              {{ book.startDate }}
            </ion-item>

            <!-- Checkbox para marcar como leido. Actualizará el campo finishDate -->
            <ion-item>
              <ion-text>Read </ion-text>
              <ion-checkbox class="ion-margin-start" [(ngModel)]="book.readCheck" (ionChange)="markRead(book.id)" [disabled]="book.readCheck"></ion-checkbox>
            </ion-item>

            <!-- Fecha de finalización, se completa automático al marcar readCheck -->
            <ion-item>
              <ion-text class="ion-margin-end">Finished reading:</ion-text> 
              {{ book.finishDate || 'Unfinished' }}
            </ion-item>
  
            <!-- Botones de editar y borrar para la tarjeta y guardar y cancelar para el modo edición-->
            <ion-item *ngIf="!book.isEditing">
              <ion-button color="primary" (click)="editBook(book)">Edit</ion-button>
              <ion-button color="danger" (click)="deleteBook(book.id)">Delete</ion-button>
            </ion-item>
            <ion-item *ngIf="book.isEditing">
              <ion-button color="success" (click)="saveChanges(book)">Save</ion-button>
              <ion-button color="medium" (click)="cancelEdit(book)">Cancel</ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Tarjeta para añadir un nuevo libro -->
      <ion-col size="12" size-md="6" size-lg="4" *ngIf="showAddForm">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Add new book</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Usamos el evento ngSubmit para enviar los datos -->
            <form (ngSubmit)="addBook(addBookForm)" #addBookForm="ngForm">
              <ion-item>
                <ion-label position="floating">Title</ion-label>
                <ion-input type="text" name="title" required ngModel></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Author</ion-label>
                <ion-input type="text" name="author" required ngModel></ion-input>
              </ion-item>
              <ion-item>
                <ion-select label="Genre" name="genre" required ngModel>
                  <ion-select-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Pages</ion-label>
                <ion-input type="number" name="numPages" required ngModel></ion-input>
              </ion-item>
              <ion-button expand="block" color="success" type="submit" [disabled]="!addBookForm.valid" (click)="showAddButton = true">Add</ion-button>
              <ion-button expand="block" color="light" (click)="cancelAdd(addBookForm); showAddButton = true">Cancel</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
